{{define "left"}} {{template "header"}}
<ul class="layui-nav layui-nav-tree layui-nav-side">
    <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe63c;</i> 订单</a>
        <dl class="layui-nav-child">
            <dd>
                <a href="javascript:;"><i class="layui-icon">&#xe654;</i> 新增订单</a>
            </dd>
            <dd>
                <a href="javascript:;"><i class="layui-icon">&#xe60a;</i> 订单列表</a>
            </dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe613;</i> 客户</a>
        <dl class="layui-nav-child">
            <dd>
                <a href="javascript:;"><i class="layui-icon">&#xe654;</i> 新增客户</a>
            </dd>
            <dd>
                <a href="javascript:;"><i class="layui-icon">&#xe60a;</i> 客户管理</a>
            </dd>
        </dl>
    </li>
</ul>
<div id="right" style="margin-left:200px; padding:10px">
    {{end}}