.header{
    height: 60px;
    line-height: 60px; 
    padding: 0 20px; 
    background-color:#393D49;
    color: #c2c2c2;
}

.top_left{float: left}

.logo{
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 18px
}

.top_right{
    float: right
}

[v-cloak] {
    display: none;
}

.mar_top {
    margin-top: 10px;
}

.mar_bot {
    margin-bottom: 10px;
}

.print_title {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding-left: 250px;
    margin: 0px
}

.bor_bot_none {
    border-bottom: none
}