.header {
    text-align: right
}

.logo {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 200px;
    text-align: center;
    font-size: 18px!important
}

.layui-nav .layui-nav-item a {
    padding: 0 40px!important
}

.content{padding: 10px 0}
.title{color: #ff6709}

.left{margin-top: 60px}

.right {
    padding: 10px
}

.img_380{
    width: 370px; height: 370px;
    margin: 5px;
    float: left
}
.img_570{
    width: 560px; height: 750px;
    margin: 5px;
    float: left
}
.img_760{
    width: 750px; height: 370px;
    margin: 5px;
    float: left
}
.img_1140{
    width: 1130px; height: 500px;
    margin: 5px;
    float: left
}

.footer{
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    clear: both;
}