.header {
    text-align: right
}

.logo {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 200px;
    text-align: center;
    font-size: 18px!important
}

.layui-nav .layui-nav-item a {
    padding: 0 40px!important
}

.content{}
.content .title{color: #ff6709}

.left{margin-top: 60px}

.right {
    padding: 10px
}