{{define "course"}} {{template "no_left"}}
<div class="content">
    <fieldset class="layui-elem-field">
        <legend class="title">第23期眉眼唇密训课</legend>
        <div class="layui-field-box">
            <ul>
                <!--<li>课程：第23期眉眼唇密训课</li>-->
                <li>日期：2017年6月10号</li>
                <hr>
                <li>招生对象： <br> 1、您想从事半永久持久美妆行业，零基础的✍️ <br> 2、需提升技术，想改变现状，在美妆行业走了很多弯路的🚶
                    <br> 因为这里是以专业技术为核心学校，让你少走很多弯路，直达顶峰⛰️ <br>
                </li>
                <hr>
                <li>课程安排： <br> 全科，学期9天，理论实践相结合 一期学不会可免费复训📘
                </li>
                <hr>
                <li>学习内容： <br> 1、眉部：棉麻线条眉.丝雾眉.点彩雾眉.落尾眉
                    <br> 2、美瞳: 当代最时尚的点彩美瞳线.中式灵魂线瞬间达到睁眼有神 闭眼无痕技术。 <br> 3、塑唇妆: 时尚苹果唇、高贵花瓣唇.咬唇妆.芭比粉嫩唇，各种唇型的设计，达到一遍上色，无肿无痛的领先技术👄。<br> 4、发际线再生技术。
                    <br> 5、诱惑粉嫩乳晕术。
                    <br>
                </li>
                <hr>
                <li>学费： <br> 9天眉.眼.唇.发际线.乳晕，学费4980💰（含眉、眼、唇色料、机器）
                    <br> 有眉.眼.唇真人模特供大家实操，手把手辅导，超价值课程，绝对让你得到意想不到的收获。
                </li>
                <hr>
                <li>
                    地址：<br> 河南省郑州市二七区，火车站对面大同路南下街，菜市场北隔壁华庭公寓二单元11楼1102室
                    <br> 联系电话：
                    <br> 138 0374 3156～任阳老师📞️<br> 135 6990 7229～苹果老师📞️<br> 134 6056 3561～付老师📞️<br> 137 3361 5071～冯老师📞️<br>
                </li>
                <hr>
                <li>
                    其他：<br> 学校的宗旨:不欺不骗.真才实干.技术为主.产品自愿.如有虚假.概不收💰
                    <br> 学习正在火热报名中，报名费980💰抵学费
                    <br> 食宿可统一安排，费用自理。毕业颁发任阳美妆商学院结业证书📘
                    <br>
                </li>
            </ul>
        </div>
    </fieldset>
</div>

<script>
    require(['jquery', 'vue'], function($, Vue) {
        new Vue({
            el: '#body',
            data: {
                act: '{{.Act}}'
            },
        })
    })
</script>
{{template "footer"}} {{end}}