{{define "index"}} {{template "no_left" .}}

<div id="gallery" style="margin-top:10px; width:1226px">
    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_1.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_2.jpeg">
    </div>

    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_3.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_4.jpeg">
    </div>

    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_5.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_6.jpeg">
    </div>

    <div class="img_405_540" style="margin-right:6px">
        <img width="405" height="540" src="/image/index/0816_7.jpeg">
    </div>
    <div class="img_405_540" style="margin-right:5px">
        <img width="405" height="540" src="/image/index/0816_8.jpeg">
    </div>
    <div class="img_405_540">
        <img width="405" height="540" src="/image/index/0816_9.jpeg">
    </div>

    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_10.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_11.jpeg">
    </div>

    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_12.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_13.jpeg">
    </div>

    <div class="img_610_450" style="margin-right:6px">
        <img width="610" height="450" src="/image/index/0816_14.jpeg">
    </div>
    <div class="img_610_450">
        <img width="610" height="450" src="/image/index/0816_15.jpeg">
    </div>
    
</div>

<script>
    require(['jquery', 'vue'], function($, Vue) {
        // layui.use(['form'], function() {});

        // new Vue({
        //     el: '#body',
        //     data: {
        //         act: '{{.Act}}'
        //     },
        // })
    })
</script>
{{template "footer"}} {{end}}