{{define "add"}} {{template "left" .}}
<style type="text/css">

</style>
<div id="add_order" class="layui-form">
    <div class="layui-form-item">
         <label class="layui-form-label">用户</label> 
        <div class="layui-input-block">
            <select class="user_select" lay-ignore style="width: 50%" v-model="productId">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" v-model="productId" required  lay-verify="required" placeholder="请输入手机" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>
<script>
    require(['jquery', 'vue', 'select2', 'layui'], function($,Vue) {
        var addOrderVue = new Vue({
            el: '#add_order',
            data: {
                productId: "0",
            },
            methods:{
            }
        });

        layui.use(['form','layer'], function() {
            // var form = layui.form();
            // var layer = layui.layer;
            // form.on('submit(customerAdd)', function(data) {
            //     $.post("/Customer/add?id={{.Id}}", data.field, function(result) {
            //         if (result.Code == 200) {
            //             location.href = "/Customer/Manage";
            //         } else {
            //             layer.msg(result.Message)
            //         }
            //     },"json")
            // })
        });

        $(".user_select").select2({
            placeholder: "搜:客户id/姓名/电话/地址",
            allowClear: true,
            ajax: {
                url: "/Customer/Select2",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Items,
                        pagination: {
                            more: (params.page * 10) < data.Total
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            // minimumInputLength: 1,
        });

        $(".user_select").change(function(){
            console.log($(this).val());
            console.log(addOrderVue.productId);
        });
    })
</script>
{{template "footer"}} {{end}}