{{define "add"}} {{template "left" .}}
<style type="text/css">
    .select2 {
        margin-top: 5px
    }
</style>
<div id="add_order" class="layui-form">
    <fieldset class="layui-elem-field">
        <legend>选择用户</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <select class="user_select" lay-ignore style="width: 100%" v-model="userId">
                </select>
            </div>
            <!-- 用户详情 -->
            <template v-if="userInfo">
                <div class="layui-form-item">
                    <table class="layui-table">
                        <tr>
                            <td>
                                姓名:${userInfo.name}
                            </td>
                            <td>
                                手机:${userInfo.mobile}
                            </td>
                            <td>
                                余额:${userInfo.balance}
                            </td>
                            <td>
                                折扣:${userInfo.discount}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                地址:${userInfo.address}
                            </td>
                        </tr>
                    </table>
    
                </div>
            </template>
        </div>
    </fieldset>

    <!-- 选择产品 -->
    <fieldset class="layui-elem-field">
        <legend>选择产品</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tr>
                    <td>
                        序号
                    </td>
                    <td>
                        产品
                    </td>
                    <td>
                        个数
                    </td>
                    <td>
                        序号
                    </td>
                    <td>
                        产品
                    </td>
                    <td>
                        个数
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>
<script>
    require(['jquery', 'vue', 'select2', 'layui'], function ($, Vue) {
        var addOrderVue = new Vue({
            el: '#add_order',
            data: {
                userId: "",
                userInfo :""
            },
            methods: {
            }
        });

        layui.use(['form', 'layer'], function () {
            // var form = layui.form();
            // var layer = layui.layer;
            // form.on('submit(customerAdd)', function(data) {
            //     $.post("/Customer/add?id={{.Id}}", data.field, function(result) {
            //         if (result.Code == 200) {
            //             location.href = "/Customer/Manage";
            //         } else {
            //             layer.msg(result.Message)
            //         }
            //     },"json")
            // })
        });

        $(".user_select").select2({
            placeholder: "搜:客户id/姓名/电话/地址",
            allowClear: true,
            ajax: {
                url: "/Customer/Select2",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Items,
                        pagination: {
                            more: (params.page * 10) < data.Total
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            // minimumInputLength: 1,
        });

        $(".user_select").change(function () {
            addOrderVue.userId = $(this).val();
            console.log(addOrderVue.userId);
            $.getJSON("/Customer/Info",{'id':addOrderVue.userId},function(data){
                if(data.Code == 200){
                    console.log(data.Result)
                    addOrderVue.userInfo = data.Result;
                }
            })
        })
    })

</script>
{{template "footer"}} {{end}}