{{define "info"}}
<html>

<head>
    <title>
        任阳持久美妆
    </title>
    <meta charset="utf-8">
    <script src="/js/components/require.js"></script>
    <script src="/js/config.js"></script>
    <link rel="stylesheet" href="/css/layout_admin.css">
</head>
<div class="mar_bot" id="order_info">
    <div class="print_title">任阳持久美妆销货单</div>
    <div class="user">
        <table class="table">
            <tr>
                <td width="280">地址:
                    <span>${orderInfo.cus_address}</span>
                </td>
                <td width="180">电话:
                    <span>${orderInfo.cus_mobile}</span>
                </td>
                <td width="180">日期:
                </td>
            </tr>
            <tr>
                <td class="bor_bot_none">姓名:
                    <span>${orderInfo.cus_name}</span>
                </td>
                <td class="bor_bot_none">余额:
                    <span>
                        <!-- <?php echo $customer_info['balance']>0?$customer_info['balance']:0 ;?> -->
                    </span>
                </td>
                <td class="bor_bot_none">会员折扣:
                    <span>
                        <!-- <?php echo $cus_discount==100?'无':$cus_discount.'折' ;?> -->
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div id="order_info" class="mar_bot">
        <table>
            <tbody id="product_list">
                <tr v-for="item in orderDesc">
                    <td>${item.id}</td>
                    <td>${item.name}</td>
                    <td>${item.price}</td>
                    <td>${item.count}</td>
                    <td>${item.money}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
    require(['jquery', 'vue'], function ($, Vue) {
        var addOrderVue = new Vue({
            el: '#order_info',
            data: {
                orderInfo: jQuery.parseJSON('{{.OrderInfo}}'),
                orderDesc: jQuery.parseJSON('{{.OrderDesc}}'),
            },
        });
    })

</script>
{{template "footer"}} {{end}}