{{define "header"}}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>帮你美</title>
    <script src="/js/components/require.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/components/layui/layui.js"></script>
    <link rel="stylesheet" href="/js/components/layui/css/layui.css">
    <link rel="stylesheet" href="/css/layout_index.css">
</head>

<body id="body">
    <ul class="layui-nav header" id="header">
        <li class="logo">帮你美</li>
        <li class="layui-nav-item" :class="{'layui-this':act=='Index'}"><a href="/index/index">首页</a></li>
        <li class="layui-nav-item" :class="{'layui-this':act=='Course'}"><a href="/index/course">最新课程</a></li>
        <li class="layui-nav-item" :class="{'layui-this':act=='Student'}"><a href="/index/student">学员实操</a></li>
        <li class="layui-nav-item" :class="{'layui-this':act=='Product'}"><a href="/index/product">产品介绍</a></li>
        <li class="layui-nav-item" :class="{'layui-this':act=='About'}"><a href="/index/about">关于我们</a></li>
    </ul>

    <script>
        require(['layui'], function(layui) {
            layui.use(['element'], function() {});
        })
    </script>

    {{end}}