{{define "contact"}} {{template "about_left" .}}
<div class="content" style="padding-l">
        <fieldset class="layui-elem-field">
            <legend class="title">联系我们</legend>
            <div class="layui-field-box">
                <ul>
                    <li>公司名称：河南帮你美商贸有限公司<br></li>
                    <hr>
                    <li>地址：河南省郑州市二七区，火车站对面大同路南下街，菜市场北隔壁华庭公寓二单元11楼1102室<br></li>
                    <hr>
                    <li>联系电话：<br>
                        138 0374 3156～任阳老师📞️<br>
                        135 6990 7229～苹果老师📞️<br>
                        134 6056 3561～付老师📞️<br>
                        137 3361 5071～冯老师📞️<br>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>

<script>
    require(['jquery', 'vue'], function ($, Vue) {
        // layui.use(['form'], function() {});

        // new Vue({
        //     el: '#body',
        //     data: {
        //         act: '{{.Act}}'
        //     },
        // })
    })

</script>
{{template "footer"}} {{end}}