{{define "student"}} {{template "no_left" .}}
<div id="student" style="margin:5px 0">
    <div class="img_380">
        <img src="/image/student/1.jpg">
    </div>
    <div class="img_380">
        <img src="/image/student/2.jpg">
    </div>
    <div class="img_380">
        <img src="/image/student/3.jpg">
    </div>
    <div class="img_760">
        <img src="/image/student/4.jpg">
    </div>
    <div class="img_380">
        <img src="/image/student/5.jpg">
    </div>
    <div class="img_570">
        <img src="/image/student/6.jpg">
    </div>
    <div class="img_570">
        <img src="/image/student/7.jpg">
    </div>
    <div class="img_1140">
        <img src="/image/student/8.jpg">
    </div>
</div>

<script>
    require(['jquery', 'vue'], function($, Vue) {
        // layui.use(['form'], function() {});

        // new Vue({
        //     el: '#body',
        //     data: {
        //         act: '{{.Act}}'
        //     },
        // })
    })
</script>
{{template "footer"}} {{end}}