{{define "manage"}} {{template "left" .}}
<div id="cus_manage">
    <!-- ${con} -->
    ${list}
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>昵称</th>
                <!-- <th>加入时间</th>
                <th>签名</th> -->
            </tr> 
        </thead>
        <tbody>
           <!-- <tr v-for="item in list"> -->
               <!-- <td>${item}</td> -->
               <!-- <td>${item}</td>
               <td>${item}</td> -->
            <!-- </tr>  -->
        </tbody>
    </table>
</div>
<script>
    require(['jquery', 'vue'], function($,Vue) {
        new Vue({
            el: '#cus_manage',
            data: {
                total: '{{.Total}}',
                list: '{{.List}}'
            },
        })
    })
</script>
{{template "footer"}} {{end}}